# Ignore all class lecture uploads
/Lectures

# Ignore class-specific information
/Resources/schedule.pdf
/Resources/syllabus.pdf

# Ignore LaTeX compilation files to reduce clutter in repository
/Notes/notes.aux
/Notes/notes.fdb_latexmk
/Notes/notes.fls
/Notes/notes.log
/Notes/notes.out
/Notes/notes.synctex.gz
/Notes/notes.toc